<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="jarno.oussama.com.examenmonitor">

    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".Activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.AddUserActivity"
            android:label="@string/label_add_user"
            android:parentActivityName=".Activities.MainActivity"
            android:value="jarno.oussama.com.examenmonitor.MainActivity">
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="jarno.oussama.com.examenmonitor.Activities.MainActivity" />
        </activity>

        <activity
            android:name=".Activities.StudentsListActivity"
            android:label="@string/title_activity_students_list"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".Activities.NewExamActivity" />
        <activity
            android:name=".Activities.CheckInOutActivity"
            android:label="@string/checkout">
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.MyExamsActivity"
            android:label="@string/title_activity_my_exams"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".CameraActivity" />
        <activity android:name=".Activities.ViewPictureActivity"></activity>
    </application>

</manifest>